main, header {font-family: Verdana;}

input {
    padding-left: 5px;
    margin-bottom: 10px;
    height: 35px;
    width: 97%;
}

span, h1 {color: #234465}

fieldset {
    border: 0;
    height: 290px;
}

#register {
    font-size: 18px;
    float: right;
    height: 35px;
    width: 160px;
    border: 2px solid;
    color: #576f88;
    border-color: #576f88;
    font-weight: bold;
}

#new-user {
    width: 350px;
    border: none;
    float: left;
}

#old-user {
    background-color: #234465;
    width: 350px;
    border: none;
    float: left;
}

#remember {
    width: 20px;
    height: 20px;
}

label {
    vertical-align: top;
    color: #ffffff;
}

#login-headline {color: #ffffff}

#login {
    font-size: 18px;
    float: right;
    height: 35px;
    width: 160px;
    border: 2px solid;
    border-color: #d98d11;
    color: #ffffff;
    background-color: #234465;
}

a {
    color: #ffffff;
    float: right;
    padding-right: 15px;
    clear: both;
}