html {
  width: 100%;

  body {
    width: 100%;
    font-size: 62.5%;
    font-family: Tahoma;
    background-color: #EEEEEE;

    div {
      width: 90%;
      margin: 0 auto;

      h2 {
        color: #284a64;
      }

      section {
        display: inline-block;
        width: 100%;
        margin: 0 auto;

        header {
          width: 100%;
          margin: 20px 24px;
        }

        h1 {
          color: #284a64;
          margin: 0 auto;
          text-transform: uppercase;
        }

        div {
          margin: 0 auto;

          div {
            padding: 20px;
            float: left;
            display: inline-block;
            height: 300px;
            width: 260px;
            margin-left: 25px;
            background-color: #ffffff;

            p {
              font-size: 0.7rem;
              color: #5a5a5a;

              strong {
                color: #000000;
              }
            }

            span {
              font-size: 0.9rem;
              text-align: right;
              display: block;
              color: #000000;
            }

            hr {
              width: 98%;
              color: #f9f9f9;
            }
          }
        }
      }
    }
  }
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
