body {
    color: #2c4255;
    width: 890px;
}


div {
    position: relative;
    float: left;
    margin: 5px;
    border-radius: 10px 10px 0 10px;
    width: 190px;
    height: 230px;
    border: 1px solid #e6f4fc;
}

a {
    text-decoration: none;
    color: #363651;
}

p {
    margin: 0;
    overflow: auto;
}
h1 {
    margin-left: 6px;
    width: 650px;
}

h4 {
    margin: 0;
}

.second-row {

}

.main {
    width: 670px;
    border: 0;
    position: absolute;
}

div.inner {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    width: 115px;
    height: 40px;
    background-color: #2c425a;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
}

div a div p {
    margin-top: 9px;
    text-align: center;
}

img {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-top: -78px;
    border: 1px solid #e6f4fc;
    background-color: #f7fcff;
    height: 565px;
    width: 260px;
    float: right;

}

aside form div {
    border: 0;
    margin: 0;
    margin-top: 5px;
    border-radius: 0;
    width: 98%;
    height: 80px;
}

input {
    width: 98%;
    margin-top: 2px;
    margin-left: 4px;
}

.left {
    margin-top: 22px;
    float: left;
}

.middle {
    left: 0;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 100%;
}

.right {
    margin-top: 22px;
    float: right;
}