@mixin h1-prop {
  padding-left: 12px;
  color: #78b900;
  font-size: 2rem;
}

@mixin link-format {
  display: inline-block;
  color: #93c033;
  margin-left: 10px;
  margin-bottom: 20px;
}

html {
  height: 100%;
  font-size: 62.5%;

  body {
    margin: 0;
    height: 100%;
    font-family: Arial;
    background-color: #101415;

    header {
      width: 100%;

      div {
        width: 730px;
        margin: 0 auto;
      }

      #first {
        position: relative;
        margin: 0 auto;
        height: 220px;
        width: 730px;
        background: url("../images/headerBackground.jpg") no-repeat;
        background-size: contain;

        p {
          position: absolute;
          color: #ffffff;
          right: 30px;
          bottom: 10px;
          font-size: 2.3rem;
          font-weight: bold;
        }
      }

      nav {
        background-color: #e4e4e4;

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            border-right: 1px solid #f5f5f5;
            display: inline-block;
            padding: 20px;
          }

          a {
            font-size: 1.5rem;
            display: block;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            color: #535252;
          }

          a:hover {
            color: #ffffff;
          }


          li:hover {
            background-color: #bcbcbc;
          }

        }


      }
    }

    section {
      position: relative;
      width: 730px;
      margin: 0 auto;
      background-color: #ffffff;

      aside {

        #upper-news {
          width: 100%;
          background-color: #eeeeee;

          a {
            @include link-format;
            margin-top: 0;
          }
        }

        #lower-news{
          width: 100%;

          a {
            margin-top: 15px;
            @include link-format
          }
        }

      }
      
      div {
        display: inline-block;
        border: 1px solid #e7e7e7;
        border-radius: 15px;
        width: 60%;
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 20px;

        article {
          margin-top: 20px;
          margin-left: 15px;
        }

        p {
          margin: 10px;
        }

        h1 {
          text-transform: uppercase;
          @include h1-prop;
        }

        #article-head {
          text-transform: none;
          @include h1-prop;
        }

        h3 {
          display: inline-block;
          margin-left: 10px;
          margin-bottom: 0;
          margin-top: 0;
        }

        img {
          float: left;
        }
      }
    }
    footer {
      height: 70px;
      width: 730px;
      margin: 0 auto;
      background-color: #96cd31;

      P {
        font-size: 1.1rem;
        margin: 0;
        padding-left: 70px;
        padding-top: 30px;

        span {
          text-decoration: underline;
        }
      }
    }
  }
}

.news-side {
  position: absolute;
  top: 0;
  right: 50px;
  width: 200px;

  h1 {
    color: #78b900;
    text-transform: uppercase;
    font-size: 2rem;

  }
}

.formatted-text {
  margin: 0;
  width: 250px;
  display: inline-block;
  margin-top: 7px;
  padding-left: 10px;
  font-size: 1.3rem;
}

.bold-p {
  margin: 0 10px;
  font-weight: bold;
}

.normal-p {
  margin: 0 10px;
}