html {
  height: 100%; }
  html body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #f7f7f7; }
    html body #container {
      width: 650px; }
    html body header {
      color: #2a2329;
      font-size: 12px; }
    html body section {
      position: relative; }
      html body section hr {
        border: 0;
        border: 1px dotted darkgray;
        width: 400px;
        margin-left: 0; }
      html body section aside {
        display: inline-block;
        width: 220px;
        position: absolute;
        right: 0;
        top: 15px;
        background-color: #ffffff;
        border: 1px solid darkgray;
        padding: 10px; }
      html body section form {
        width: 400px; }
        html body section form fieldset {
          border: 1px dotted darkgrey; }
          html body section form fieldset legend {
            height: 30px;
            line-height: 1.7;
            padding-left: 5px;
            padding-right: 5px;
            background-color: #5f5f5f;
            color: #ffffff; }
          html body section form fieldset div {
            margin-top: 5px; }
            html body section form fieldset div label {
              background-color: #cccccc;
              padding: 5px;
              display: inline-block;
              width: 80px;
              height: 20px; }
            html body section form fieldset div div {
              margin-left: 7px;
              display: inline-block;
              width: 260px;
              background-color: #cccccc; }
              html body section form fieldset div div input {
                height: 20px;
                width: 200px; }
          html body section form fieldset #username {
            background: url("../images/username-icon.png") no-repeat, white;
            padding-left: 20px; }
          html body section form fieldset #username:focus, html body section form fieldset #password:focus, html body section form fieldset #name:focus, html body section form fieldset #address:focus, html body section form fieldset #city:focus, html body section form fieldset #country:focus {
            background-color: #f7f5d2; }
          html body section form fieldset #username:hover, html body section form fieldset #password:hover, html body section form fieldset #name:hover, html body section form fieldset #address:hover, html body section form fieldset #city:hover, html body section form fieldset #country:hover {
            background-color: #f7f5d2; }
          html body section form fieldset #password {
            background: url("../images/password-icon.png") no-repeat, white;
            padding-left: 20px; }
          html body section form fieldset #name, html body section form fieldset #address, html body section form fieldset #city, html body section form fieldset #country {
            background: url("../images/field-icon.png") no-repeat, white;
            padding-left: 20px; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.button {
  display: inline-block;
  float: right;
  width: 260px;
  margin-right: 5px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid darkgray;
  text-align: right; }
  .button button {
    width: 60px;
    height: 25px;
    outline: none;
    border: none;
    margin-top: 5px;
    margin-right: 35px;
    background-color: #e3e3db;
    text-align: center; }
  .button button:hover {
    background-color: #cccccc;
    font-weight: bold; }
